@model Shiraki.Dr_Sox.Models.ShopViewModels

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "首頁";
}

<div class="event1">
    <table width="944" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="688" height="5"></td>
                <td width="256" rowspan="2"><a href="@Url.Action("Index", "Shop")" class="buy-now">立即訂購 脫離腳臭</a></td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="text_p1" style="width: 468px;">
                        <p>Dr.Sox博士襪，正港MIT台灣製造業界之首含80%以上抗菌除臭銀捐竹炭嫘縈纖維通過SGS嚴格檢驗掛保證，VIP級自然舒適健康的呵護您的雙腳。</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="event2">
    <div class="text_p2" style="width: 468px;">
        <p>僅管外表穿著整潔光鮮，但一脫下鞋腳臭隨著飄散的困窘場景卻常常讓你無處自容嗎？腳臭已經在不知不覺間影響了您的生活及個人形象了嗎？</p>
        <p>穿著鞋子時，隨著悶熱的腳部環境，腳部的皮屑汗液等物質容易與細菌黴菌及空氣的二氧化碳產生交互作用形成了硫化現象，隨之產生了腳臭。長期下來，不只鞋部、襪子容易殘留著噁心難聞的怪味，雙腳也容易因微生物及徵菌菌絲的增生造成香港腳等問題。</p>
        <p>在汗液、腳部老舊角質新陳代謝、潮溼悶熱的鞋內環境助長著細菌黴菌滋生腳臭的同時，微生物及徵菌菌絲卻以超乎想像的驚人速度增長，在生長的速度遠超過死亡的速度的情形下，再怎樣治療、努力對抗，腳臭總是擺脫不了。</p>
        <p>經調查，每三個台灣人就有一個腳臭的困擾。腳臭讓人不敢脫下鞋，讓人退避三舍，破壞了良好的個人形象，深受其害的苦有口難言。四處尋找偏方或各種除臭產品來嚐試，卻未必見效。讓人不禁大喊：到底有什麼方法可以有效的脫離腳臭纏身的阿鼻地獄？</p>
    </div>
</div>
<div class="event3">
    <a name="b" class="anchor"></a>
    <table width="944" height="436" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="185" valign="top">
                    <table width="185" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="100"></td>
                            </tr>
                            <tr>
                                <td height="159">
                                    <div class="text_p2">
                                        <p>無所不在的細菌及徵菌容易附著在襪子上，並且以相當快的速度細胞分裂增生，不只造成襪子的污染，嚴重者將使腳部產生香港腳、足癬等病變。</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="144">
                                    <div class="text_p2">
                                        <p>汗液本身為身體排出體外的廢物，過度出腳汗或是穿襪穿鞋後腳部長時間密閉將使腳部處於高溫潮溼的狀態，同時腳汗中的有機物質易滋生細菌徽菌，硫化作用形成了腳臭。</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="540">&nbsp;</td>
                <td width="185" valign="top">
                    <table width="185" height="425" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="63">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="118">
                                    <div class="text_p2">
                                        <p>透氣不良的鞋襪形成腳部高溫潮溼的環境，有助於細菌徽菌生長及附著，更使得腳臭無法根除。</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="142">
                                    <div class="text_p2">
                                        <p>腳部的新陳代謝產生角質及皮屑，這些物質是與腳汗及細菌黴菌交互形成異味的溫床，同時更是菌類的養分來源。</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <div class="text_p2">
                                        <p>一旦襪子滋生了細菌黴菌，除非經過高溫及特殊方式殺菌，否則幾乎無法完全去除，腳臭也因此無法根除。</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="34">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="event4">
    <a name="c" class="anchor"></a>
    <div class="text_p2" style="width: 466px; position: absolute; margin-top: 94px;">
        <div>
            <p>許多偏方，用擦的、泡的、塗的、撒的…，無論方法為何，要能夠有效的終結腳臭，非得由改善足部環境著手，面面俱到始可成功。終結腳臭，得去除高溫潮溼不透氣的生成因素，長效保持足部在清爽透氣之中，同時進一步的抗菌抑菌阻卻細菌黴菌附著，才能有效的終結腳臭。</p>
        </div>
        <div style="margin-top: 94px;">
            <p>去除腳臭，其實並沒有想像中的困難。其實，只要換上一雙專為去除腳臭設計的除臭健康襪就行了。腳臭終結健康襪與足部緊密接觸，能夠創造乾爽舒適又透氣的足部環境，獨特的抗菌抑菌織料，更能有效防止菌類增生附著。與其購買透氣的鞋子，不如換上一雙好襪子！一旦足部能夠維持在乾爽透氣的情形下，快速排除腳汗的潮溼，同時使得細菌黴菌無法附著襪子，那麼，腳臭就是消失無蹤了。</p>
        </div>
        <div style="margin-top: 284px;">
            <p>趕快丟掉那些造成腳臭困擾的臭襪子，來體驗Dr.Sox腳臭終結健康襪帶來的神奇效果吧！除腳臭，恢復自信，一刻也不能等！就是現在！！你一定要給自己一個遠離腳臭的機會！</p>
        </div>
    </div>
    <div class="text_p3" style="width: 385px; position: absolute; margin-top: 76px; margin-left: 509px;">
        <div>
            <p>
                心愛的她一直想去吃<br />
                日本料理，不是不喜<br />
                歡，也不是擔心自<br />
                己的預算不夠，而<br />
                是害怕進入需要<br />
                脫鞋的日本料理<br />
                食堂，脫下鞋後腳臭四溢，壞了好不容易建立在她心中的長久好印象，還讓身旁的人吃不下飯。為了要讓腳透氣避免腳臭總是只穿涼鞋，但是到正式些的場合，或是參加戶外體能運動，實在不適宜這樣穿著。戰戰兢兢的穿上正式的皮鞋、包鞋或運動鞋，害怕腳臭味隱隱伺機而出，只好心虛的有意無意的遠離人群。自從朋友介紹我買Dr.Sox腳臭終結健康襪，穿了之後就再也不會有腳臭了，原本一開始半信半疑的買了，結果第一天穿，就出乎意料的見到成效，脫下鞋子後，不可思議的竟然沒有腳臭味，真的太驚人了。<br />
                穿了Dr.Sox腳臭終結健康襪就不用再擔心面臨腳臭的問題了。
            </p>
            <p style="text-align: right; padding-right: 10px;">台北 林先生</p>
            <p>不是不愛老公跟小孩，每當他們脫下鞋子，就有一陣撲鼻如鹹魚般的氣味，實在教人難以無視怪味道存在的接近他們？每天，還要忍著噁心感，清洗這些自己都不想接近的臭襪？某天從隔壁王太太那邊聽到她們家也有同樣的問題，就介紹我買Dr.Sox腳臭終結健康襪，先生一開始還虧說不可能有效，第一天就見到成效了，真的不誇張，後來我襪子都敢跟衣服一起放下去洗了呢，先生後來要出差前，還一直拜託我多買幾雙Dr.Sox腳臭終結健康襪給他呢，真的解決了我的大難題。</p>
            <p style="text-align: right; padding-right: 10px;">高雄 張太太</p>
        </div>
    </div>
</div>
<div class="event5">
    <div class="text_p2" style="padding-top: 91px;">
        <table border="0" cellpadding="0" cellspacing="0">
            <colgroup>
                <col width="138" />
                <col width="11" />
                <col width="173" />
                <col width="17" />
                <col width="176" />
                <col width="15" />
                <col width="214" />
                <col width="18" />
                <col width="135" />
            </colgroup>
            <tbody>
                <tr>
                    <td style="vertical-align: middle; text-align: center; height: 93px;">
                        Dr. Sox<br />腳臭終結健康襪
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        經實驗證明，經由細菌產生的硫化惡臭氣味經過襪體時會被消除，達到有效除臭功能。
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        通過SGS, TTRI等多項國際專業認證，抗菌能力值得您放心信賴。
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        特殊奈米技術結合除臭效果之銀離子及竹炭，反覆經由洗滌清潔亦能保有除臭力，而且只需使用一般清洗方式即可，無需再使用漂白劑及柔軟精。
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        無添加其餘非天然的化學成份足部不過敏，不污染環境。
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; text-align: center; height: 61px;">
                        一般除臭襪
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        剛使用時效果較佳，隨著清洗<br />
                        次數增加除臭力漸漸降低
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        抗菌材質隨著使用時間及清洗<br />
                        漸漸失去抗菌能力
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        一旦除臭抗菌力下降就與一般的襪子<br />
                        無異
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        添加化學成份，容易形<br />
                        成過敏現象
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; text-align: center; height: 75px;">
                        一般棉襪
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        夏日或易流腳汗者襪子一旦吸<br />
                        附了過多的溼氣，溼氣難以排<br />
                        除，容易形成腳臭
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        溼氣排除速度較慢，容易使細<br />
                        菌增生附著
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        一旦被細菌附著增生，即使增加清洗<br />
                        次數及力道，也無法去除襪體上滋生<br />
                        的細菌
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: middle;">
                        安全
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="event6">
    <table width="944" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="72">&nbsp;</td>
            </tr>
            <tr>
                <td height="118" valign="top" class="text_p2">
                    腳部的老舊角質＋汗水＋細菌黴菌＋不透氣無抑菌效果的襪子→腳臭<br />
                    腳臭是由腳部的老舊角質、汗水及細菌黴菌交互產生硫化作用形成的。<br />
                    悶溼不透氣又無抑菌效果的襪子，不僅容易助長細菌黴菌滋生環境，也會成為細菌黴菌的<br />
                    附著體，洗也洗不掉，只會反覆感染，成為無法根除的腳臭。
                </td>
            </tr>
            <tr>
                <td class="text_p2">
                    <div style="width: 200px; margin-left: 5px; position: absolute;">
                        腳底佈滿大量的汗腺，光是腳心每平方公分就有620個左右的汗腺。<br />
                        當天氣炎熱、運動體內溫度升高、吃剌激性食物、情緒緊張時，腳汗即由汗腺排出。
                    </div>
                    <div style="width: 200px; margin-left: 237px; position: absolute;">
                        透氣性不佳、不防水的鞋子，使得腳汗持續被鎖在密閉的鞋體空間中，長時間下來，便成為菌類與濡溼腳汗的角質皮屑交互作用之溫床，腳臭隨即產生。
                    </div>
                    <div style="width: 200px; margin-left: 475px; position: absolute;">
                        最接近足部的襪子，若無法於腳汗形成時排除溼氣，細菌黴菌隨即增生，並產生難聞腳臭。無抑菌效果的襪子，更成為菌類附著的載體。
                    </div>
                    <div style="width: 200px; margin-left: 712px; position: absolute;">
                        菌類以驚人的速度生長分裂，生長的速度遠大於死亡的速度，繼續與皮屑腳汗交互感染，腳臭越來越嚴重，嚴重者還有可能形成香港腳、足癬、灰指甲等足部病變。
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="event7">
    <table width="944" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="319" height="111">&nbsp;</td>
                <td width="314">&nbsp;</td>
                <td width="311">&nbsp;</td>
            </tr>
            <tr class="text_p2">
                <td height="143" valign="top">
                    丟掉所有已經被細菌感染的<br />
                    舊襪子！一雙高機能的除腳<br />
                    臭襪，能夠有效的排除腳汗<br />
                    溼氣，還能防止細菌附著生<br />
                    長，徹底斷絕腳臭生長的種<br />
                    種因子，有效終結腳臭。
                </td>
                <td valign="top">
                    選購透氣性佳的鞋子，並定<br />
                    期清洗鞋子及鞋墊，於日光<br />
                    下曝曬殺菌，同時準備兩雙<br />
                    以上的鞋子交替穿著會更好<br />
                    。
                </td>
                <td valign="top">
                    透氣性佳、符合腳部的活動<br />
                    、抑菌抗菌的機能，創造清<br />
                    爽舒適的足部環境，同時抑<br />
                    制終結腳臭。以上這些需求<br />
                    ，最貼近您的雙腳的襪子就<br />
                    能做到。
                </td>
            </tr>
            <tr>
                <td height="31" colspan="3" valign="top" class="text_p2">一雙好襪是您創造清爽舒適環境的決定性關鍵。</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="event8">
    <a name="d" class="anchor"></a>
    <table width="944" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="71">&nbsp;</td>
            </tr>
            <tr>
                <td height="200" valign="top" class="text_p2">
                    專業研發的透氣除臭製襪材質—奈米級銀絹竹炭纖維<br />
                    Dr. Sox腳臭終結健康襪經過多年研究所發展出的奈米級銀絹竹炭纖維，結合了竹炭及銀紗纖維的雙重除臭抗菌效果，其含量比例高達80%以上，為業界之首。<br />
                    運用奈米技術及竹炭及銀離子緊密結合於纖維中，即使經過多次清洗依然能夠保有除臭的效果。Dr. Sox腳臭終結健康襪具備強效的吸溼分解異味能力及抗菌抑異<br />
                    能力，同時亦具有釋放紅外線、冬暖夏涼溫度調節之機能。穿上Dr. Sox腳臭終結健康襪，不只能快速將腳部的溼氣排除，又能夠防止細菌滋生附著，猶如赤腳般<br />
                    的乾爽舒適。
                </td>
            </tr>
            <tr>
                <td height="198">
                    <table width="944" height="198" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr class="text_p2">
                                <td width="316" valign="top">
                                    多孔隙的竹炭及銀離子具備吸附異味及溼氣的能<br />
                                    力，快速的消除溼氣及難聞異味，讓足部乾爽舒<br />
                                    適。有效的排除溼氣，足部不再是高溫潮溼之時<br />
                                    ，就能夠抑制菌類滋生，即便細菌與皮屑、汗液<br />
                                    形成了異味，也能快速的去除。
                                </td>
                                <td width="322" valign="top">
                                    強效的抑菌抗菌力，細菌黴菌快速被消滅，無法<br />
                                    滋生，也就不會附著於襪子之上，再次形成交互<br />
                                    感染。菌類不滋生，除了能夠消除腳臭外，還能<br />
                                    夠防止各種如香港腳、足癬等病變產生。
                                </td>
                                <td width="306" valign="top">
                                    運用了奈米級技術，且通過實驗測試，除臭機能<br />
                                    即便經過多次清洗也能保持。清洗只需以一般的<br />
                                    洗衣粉及洗衣精清洗即可，無需再使用其他如漂<br />
                                    白劑、柔軟精等洗劑多重清洗，及省時省工省荷<br />
                                    包。
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="148" valign="top" class="text_p2">
                    ˇ需於SGS認證之實驗室始可進行檢驗，認證結果具國際性<br />
                    ˇ纖維中的銀絹竹炭嫘縈含量為80%以上，有效抑菌除臭，為業界之首<br />
                    ˇ天然環保無刺激性，使用安心<br />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="event-sub-title">

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="event10b">
        <div class="event10">
            <ul class="product-list">
                @for (var i = 0; i < Model.Products.Count(); i++)
                {
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="data-header">
                                        <span>@Model.Products[i].Code</span>&nbsp;<span>@Model.Products[i].Name</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="data-picture" style="background-image: url('@Model.Products[i].Picture')">
                                            @if (Model.Products[i].IsNew)
                                            {
                                                <div class="icon-new"></div>
                                            }
                                            else if (Model.Products[i].IsHot)
                                            {
                                                <div class="icon-hot"></div>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data-option">
                                        售價：<span class="data-price">@Model.Products[i].Price</span>元/雙<br />
                                        數量：@Html.DropDownListFor(e => Model.Products[i].Amount, Storage.ShopAmount.Select(e => new SelectListItem() { Text = e.Value, Value = e.Key }))
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.HiddenFor(e => Model.Products[i].Id)
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="event10c">

    </div>
    <div class="event12 text_p2" style="padding-top: 68px">
        <table border="0" cellpadding="0" cellspacing="0">
            <colgroup>
                <col width="80" />
                <col width="160" />
                <col width="80" />
                <col width="160" />
                <col />
            </colgroup>
            <tbody>
                <tr style="height: 32px;">
                    <td>* 訂購者姓名</td>
                    <td>@Html.EditorFor(e => e.Order.Name)</td>
                    <td>* 聯絡電話</td>
                    <td>@Html.EditorFor(e => e.Order.PhoneNumber)</td>
                    <td>&nbsp;</td>
                </tr>
                <tr style="height: 32px;">
                    <td>* 行動電話</td>
                    <td colspan="4">
                        @Html.EditorFor(e => e.Order.MobileNumber)
                        <span>請填寫聯絡的到的電話，訂購後會由客服人員與您確認訂單內容</span>
                    </td>
                </tr>
                <tr style="height: 32px;">
                    <td>* 電子郵件</td>
                    <td colspan="4">
                        @Html.TextBoxFor(e => e.Order.Email, new { @class = "email" })
                        <span>填寫正確且經常使用的電子郵件，以此作出貨依據原則</span>
                    </td>
                </tr>
                <tr style="height: 32px;">
                    <td>* 收貨人姓名</td>
                    <td colspan="4">
                        @Html.EditorFor(e => e.Order.RecipientName)
                    </td>
                </tr>
                <tr style="height: 32px;">
                    <td>* 送貨地址</td>
                    <td colspan="4">
                        <input class="area-code" type="text" disabled="disabled" />
                        <select class="ddl-city"></select>
                        縣/市
                        <select class="ddl-town">
                            <option value="請選擇">請選擇</option>
                        </select>
                        鄉鎮區市（選擇地區後請記得在下個欄位輸入詳細地址）
                        <input name="@Html.NameFor(e => e.Order.RecipientAreaCode)" type="hidden" class="area-code" value="" />
                        <input name="@Html.NameFor(e => e.Order.RecipientCity)" type="hidden" class="txt-city" value="" />
                        <input name="@Html.NameFor(e => e.Order.RecipientTown)" type="hidden" class="txt-town" value="" />
                    </td>
                </tr>
                <tr style="height: 32px;">
                    <td></td>
                    <td colspan="4">
                        @Html.TextBoxFor(e => e.Order.RecipientAddr, new { @class = "address" })
                    </td>
                </tr>
                <tr style="height: 32px;">
                    <td>* 備　　註</td>
                    <td colspan="4">
                        @Html.TextBoxFor(e => e.Order.Memo, new { @class = "memo" })
                    </td>
                </tr>
                <tr style="height: 32px;" class="text_p5">
                    <td></td>
                    <td colspan="4">
                        ■ 您完成購物後，我們會寄發一封出貨通知電子郵件與您確認
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
            <tbody>
                <tr>
                    <td colspan="3" height="2"></td>
                </tr>
                <tr>
                    <td width="225">
                        <button type="reset" class="reset"></button>
                    </td>
                    <td width="50">&nbsp;</td>
                    <td width="225">
                        <button type="submit" class="submit"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
@*<div class="event9"></div>*@
@*<div class="event10"></div>*@
<div class="event-ad">

</div>