@model Shiraki.Dr_Sox.Models.ShopViewModels

@{
    Layout = null;
    ViewBag.Title = "購物單明細";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="KeyWords" content="五指襪,除臭襪子,除臭,襪子,竹炭襪,除臭襪,健康襪" />
    <meta content="博士健康除臭襪100%台灣襪子生產，80%以上天然竹炭,可有效去除腳臭、產品有SGS國際認證+TTRI紡織認證!" />
    <title>@ViewBag.Title - 博士襪 Dr.Sox 官方訂購網站</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="order-view" data-feedly-mini="yes">
    <div id="adbg">

    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding: 5px;" href="@Url.Action("Index", "Home")"><img src="~/Content/Images/pu_a_01.gif" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("馬上訂購", "Index", "Shop")</li>
                    <li><a href="/#b">腳臭因素</a></li>
                    <li><a href="/#c">客戶見證</a></li>
                    <li><a href="/#d">獨步創新</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="order-header"></div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="form-horizontal">
                        <h4>ShopViewModels</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info" style="margin-right: 33px; margin-left: 33px; margin-top: 25px; color: #090909;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <!--購物明細-->
                                <h2 style="line-height: normal;">Dr.Sox博士襪 購物明細</h2>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border-top-width: 3px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; border-top-color: #9bb56c; border-bottom-color: #9bb56c; border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #9bb56c; border-left-color: #9bb56c;">
                                    <tr style="background-color: #749C1F; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #9bb56c; padding: 5px; color: #FFFFFF;">
                                        <th width="60%">商品名稱</th>
                                        <th align="center">單價</th>
                                        <th align="center">數量</th>
                                        <th align="center">小計</th>
                                    </tr>
                                    <tr>
                                        <td>SE01 全竹炭刺繡男休閒襪 (黑)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SE02 全竹炭刺繡男休閒襪 (淺灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SE03 奈米竹炭刺繡寬口襪 (黑)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SE04 奈米竹炭刺繡寬口襪 (深灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SE05 竹炭寬口條紋休長閒襪 (黑/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SE06 竹炭寬口條紋休長閒襪 (淺灰/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SE07 竹炭寬口條紋休短閒襪 (黑/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SE08 竹炭寬口條紋休閒短襪 (淺灰/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SE09 竹炭寬口條紋休閒短襪 (黑/紫)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SL10 竹炭運動氣墊襪 (黑/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SL11 竹炭運動氣墊襪 (時尚黑)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SL12 竹炭運動船型襪 (黑)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SL13 竹炭無痕健康襪 (黑)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SL14 竹炭無痕健康襪 (灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SL15 竹炭五趾襪 (長/黑)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SL16 竹炭五趾襪 (長/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SL17 竹炭五趾襪 (短/黑)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SL18 竹炭五趾襪 (短/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SL19  竹炭運動氣墊襪 (黑/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SL20  竹炭學生運動透氣襪 (白/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SE21  竹炭學生運動透氣襪 (白/灰)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td>SE22  竹炭流行條紋船型襪 (白條紋)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SE23  竹炭流行條紋船型襪 (紅條紋)</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>
                                    <tr>
                                        <td>SE24  舒適無痕健康襪</td>
                                        <td align="center">120</td>
                                        <td align="center"></td>
                                        <td align="center">0</td>
                                    </tr>

                                </table>

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <!--總計金額-->
                                    <tr>
                                        <td align="right" style="padding-top: 15px; padding-bottom: 6px; color: #df1010;">總計金額:</td>
                                        <td width="14%" align="right" style="padding-top: 15px; padding-bottom: 6px; color: #df1010; font-weight: bold; font-size: 18px;">
                                            0元

                                        </td>
                                    </tr>
                                </table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="right" style="padding-top: 15px; padding-bottom: 6px; color: #df1010;">運費:</td>
                                        <td width="14%" align="right" style="padding-top: 15px; padding-bottom: 6px; color: #df1010; font-weight: bold; font-size: 18px;">

                                            80元
                                        </td>
                                    </tr>
                                </table>

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="right" style="padding-top: 15px; padding-bottom: 6px; color: #df1010;">折價後金額加運費:</td>
                                        <td width="14%" align="right" style="padding-top: 15px; padding-bottom: 6px; color: #df1010; font-weight: bold; font-size: 18px;">
                                            80元
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <!--購買者資料-->
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border-top-width: 3px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; border-top-color: #9bb56c; border-bottom-color: #9bb56c; border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #9bb56c; border-left-color: #9bb56c;">
                                    <tr style="background-color: #749C1F; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #9bb56c; padding: 5px; color: #FFFFFF;">
                                        <th colspan="2" align="left">購買者資料</th>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="left"><strong>訂購者姓名</strong></td>
                                        <td align="left"><span class="p_blue"></span></td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td align="left"><strong>聯絡電話</strong></td>
                                        <td align="left"><span class="p_blue"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="left"><strong>行動電話</strong></td>
                                        <td align="left"><span class="p_blue"> </span></td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td align="left"><strong>聯繫信箱</strong></td>
                                        <td align="left"><span class="p_blue"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="left"><strong>收貨人姓名</strong></td>
                                        <td align="left"><span class="p_blue"></span></td>
                                    </tr>
                                    <tr style=" background-color: #F1F9E1;">
                                        <td align="left"><strong>收貨人地址</strong></td>
                                        <td align="left"><span class="p_blue">郵遞區號:  地址: </span></td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="left"><strong>備註</strong></td>
                                        <td align="left"><span class="p_blue"></span></td>
                                    </tr>
                                </table>
                                <!--購買者資料 end-->
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px; padding-bottom: 6px; color: #df1010;">我們於收到訂單後會與您用電話確定訂單</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table width="30%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><img src="images/order_btn_l.jpg" alt="回上一頁修改" title="回上一頁修改" border="0" style="cursor:pointer" onclick="javscript:history.back();" /></td>
                                        <td>請輸入驗證碼<br /><input type="text" name="Checknum" /><img src="/captcha/image.php" id="rand-img">( <a href="#" id="reload-img">重新產生</a> )</td>
                                        <td><input name="image" type="image" title="正確送出" src="images/order_btn_r.jpg" alt="正確送出" border="0" /></td>
                                    </tr>
                                </table>

                                <script language="javascript">
                                    (function () {
                                        // 重新載入圖形的函數，適用於任何圖形
                                        var reloadImg = function (dImg) {
                                            // 取得圖形原本的來源 url
                                            var sOldUrl = dImg.src;
                                            // 在原本的 url 後面加上亂數的參數，變成新的 url
                                            var sNewUrl = sOldUrl + "?rnd=" + Math.random();
                                            //將圖形的來源改為新的 url，就會重新載入圖形了
                                            dImg.src = sNewUrl;
                                        };

                                        // 取得重新載入的超連結元素
                                        var dReloadLink = document.getElementById("reload-img");

                                        // 取得驗證碼圖形元素
                                        var dImg = document.getElementById("rand-img");

                                        // 定義這個超連結的 onclick 事件
                                        dReloadLink.onclick = function (e) {
                                            // 呼叫函數重新載入驗證碼圖形
                                            reloadImg(dImg);
                                            //停止事件預設的動作，也就是不要跳到超連結的網址
                                            if (e) e.preventDefault();
                                            return false;
                                        };
                                    })();
                                </script>

                                <input type="hidden" name="s1" value="" />
                                <input type="hidden" name="s2" value="" />
                                <input type="hidden" name="s3" value="" />
                                <input type="hidden" name="s4" value="" />
                                <input type="hidden" name="s5" value="" />
                                <input type="hidden" name="s6" value="" />
                                <input type="hidden" name="s7" value="" />
                                <input type="hidden" name="s8" value="" />
                                <input type="hidden" name="s9" value="" />
                                <input type="hidden" name="s10" value="" />
                                <input type="hidden" name="s11" value="" />
                                <input type="hidden" name="s12" value="" />
                                <input type="hidden" name="s13" value="" />
                                <input type="hidden" name="s14" value="" />
                                <input type="hidden" name="s15" value="" />
                                <input type="hidden" name="s16" value="" />
                                <input type="hidden" name="s17" value="" />
                                <input type="hidden" name="s18" value="" />
                                <input type="hidden" name="s19" value="" />
                                <input type="hidden" name="s20" value="" />
                                <input type="hidden" name="s21" value="" />
                                <input type="hidden" name="s22" value="" />
                                <input type="hidden" name="s23" value="" />
                                <input type="hidden" name="s24" value="" />
                                <input type="hidden" name="name" value="" />
                                <input type="hidden" name="tel" value="" />
                                <input type="hidden" name="phone" value="" />
                                <input type="hidden" name="email" value="" />
                                <input type="hidden" name="gname" value="" />
                                <input type="hidden" name="ps" value="" />
                                <input type="hidden" name="totalback" value="0" />
                                <input type="hidden" name="sendmoney" value="80" />
                                <input type="hidden" name="total" value="80" />
                                <input type="hidden" name="addr" value="郵遞區號:  地址: " />

                            </td>
                        </tr>
                        <tr>
                            <td><img src="images/index6_06.jpg" /></td>
                        </tr>
                    </table>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        @*<hr /><footer><p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p></footer>*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
