<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="KeyWords" content="五指襪,除臭襪子,除臭,襪子,竹炭襪,除臭襪,健康襪" />
    <meta content="博士健康除臭襪100%台灣襪子生產，80%以上天然竹炭,可有效去除腳臭、產品有SGS國際認證+TTRI紡織認證!" />
    <title>@ViewBag.Title - 博士襪 Dr.Sox 官方訂購網站</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-feedly-mini="yes">
    <div id="adbg">

    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding: 5px;" href="@Url.Action("Index", "Home")"><img src="~/Content/Images/pu_a_01.gif" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("馬上訂購", "Index", "Shop")</li>
                    <li><a href="/#b">腳臭因素</a></li>
                    <li><a href="/#c">客戶見證</a></li>
                    <li><a href="/#d">獨步創新</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="main-banner">
            <img src="~/Content/Images/drsox_01.jpg" border="0" usemap="#Map" />
            <map name="Map" id="Map">
                <area alt="馬上訂購！脫離腳臭" shape="poly" coords="749,194,661,135,692,141,696,62,779,10,833,103" href="@Url.Action("Index", "Shop")" />
            </map>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        @*<hr /><footer><p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p></footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
